@model List<ApplicationUser>
@{
	ViewData["Title"] = "All Users";
}

<h1>All Users</h1>
<h2>My Current Balance = @ViewBag.MyBalance</h2>
<div class="row"> 

	@foreach (var user in Model)
	{
		<div class="col-md-4 mb-4">
			<div class="card" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title">@user.Name</h5>
					<p class="card-text">Email: @user.Email</p>
					<p class="card-text">Phone: @user.PhoneNumber</p>
					<p class="card-text">Balance: @user.balance KWD</p>
					<a asp-action="Details" asp-controller="Account" asp-route-id="@user.Id" class="btn btn-primary">View Details</a>
					<a asp-action="Transfer" asp-controller="Account" asp-route-id="@user.Id" class="btn btn-primary">Transfer</a>

				</div>
			</div>
		</div>
	}

</div>
